<% include ../partials/header.ejs %>

<div class="container">
    <h2>Courts</h2>
    <p>
        <a href="/court/all" class="btn btn-info btn-md">
            <span class="glyphicon glyphicon-refresh"></span> Refresh
        </a>
    </p>

    <div class="row">
        <div class="col-sm-4">
            Local courts are listed here<br><br>
            You can create new courts or play games at currently listed ones
            <div id="message" style="display:none"><h2>Court successfully created</h2></div><br>

        </div>
        <div class="col-sm-8">
            <% if(rs.length > 0) { %>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Court Name</th>
                    <th>City</th>
                    <th>State</th>
                </tr>
                </thead>
                <% for (var i=0; rs.length > i; i++) { %>
                <tbody>
                <tr>
                    <td><a href="/court/?CourtID=<%= rs[i].CourtID %>"><%= rs[i].CourtName %></a></td>
                    <td><%= rs[i].City %></td>
                    <td><%= rs[i].State %></td>
                </tr>
                </tbody>
                <% } %>
            </table>

            <% } else { %>
            No courts exist.
            <% } %>
            <a href="/court/create" type="button" class="btn btn-primary">Create New Game</a>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>