<div class="row">
    <div class="col-sm-12">
        <br><br><br><br>
    </div>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div align="center" class="text-muted" >
        <p>Copyright (c) 2016 Sixth Man All rights reserved</p>

    </div>
</div>

</body>
</html>