<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sixth Man</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">Sixth Man</a>
        </div>
        <ul class="nav navbar-nav">
            <!-- class="active"  changes li to active clicked menu thingy-->
            <li><a href="/home">Home</a></li>
            <li><a href="/game/all">Games</a></li>
            <li><a href="/court/all">Courts</a></li>
            <li><a href="/about">About</a></li>

        </ul>
    </div>
</nav>