<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <title>CS355, Lab 12</title>
</head>

<div id="header">
    <img src="http://www.cs.sonoma.edu/~haderman/cs355/labs/cs355.png" alt="CS355">
</div>
x