<div class="col-sm-4">
    <% if(typeof msg !== "undefined") { %>
    <%= msg %>
    <% } %>
    <form role="form">
        <div class="form-group">
            <label for="Username">Email:</label>
            <input type="text" class="form-control" id="Username" name="Username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="Password">Password:</label>
            <input type="password" class="form-control" id="Password" name="Password" placeholder="Enter password">
        </div>
        <p>Don't have an account? <a href="/signup">Sign up</a></p>

        <button type="submit" id="login" class="btn btn-default btn-block">Submit</button>
    </form>

    <div id="message" style="display:none" class="alert alert-success">
        <strong>Success!</strong> Indicates a successful or positive action.
    </div>
    <div id="error" style="display:none" class="alert alert-danger">
        <strong>Game successfully created</strong> Indicates a successful or positive action.
    </div>

</div>