<div id="nav">

    <a href="http://cs.sonoma.edu/~haderman/cs355">CS355</a><br>
    <a href="http://cs.sonoma.edu/">Sonoma State Computer Science</a><br>
    <a href="http://sonoma.edu/">Sonoma State University</a><br>
    <a href="helloworld.html">Absolute Link Example</a><br>
    <a href="/movie/all">Get All Movies</a><br>
    <a href="/user/all">Get All Users</a><br>
    <a href="/user/create">Create a New User</a><br>
    <a href="/about">About</a>
</div>