<% var js_includes = ['https://code.jquery.com/jquery-1.12.3.min.js', '/javascripts/login_ajax.js']%>
<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-sm-4">

        </div>

        <% if(typeof data.first_name == "undefined") { %>
            <% include ../partials/login_partial.ejs %>
        <% } else { %>
        <div class="col-sm-4">
            <h2>You are currently logged in</h2>
        </div>
        <% } %>

    </div>

</div>

<% include ../partials/footer.ejs %>