<% include partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h3>Purpose</h3>
            <p>
                Sixth Man bridges a gap by bringing people together<br><br>
                Playing pick-up basketball is a social experience and deserves an application to faciliate just that
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h3>Creator</h3>
            <p>
                Jeff Bahns is a Computer Science student at Sonoma State University of Northern California<br><br>
                On his free time he enjoys playing music, riding motorcycles, and coding new projects
            </p>
        </div>


    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h3>Contact</h3>
            <p>
                <a href="https://github.com/jeffbahns">GitHub</a><br>
                Email: jeffbahns@zzzzzz.com<br>
                Phone: (xxx) xxx - xxxx

            </p>
        </div>

    </div>
</div>

<% include partials/footer.ejs %>