<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
</head>
<body>
    <h1>About 6th Man</h1>

    <h3>Purpose</h3>
    <p>
        The purpose of this web application is to allow people to play basketball together, easier.<br>
        By joining users together on a single instantaneous network, 6th Man lets players find local games and meet.
    </p>

    <h3>Developer</h3>
    <p>

    </p>

    <h3>Contact</h3>
    <p>
        Jeff Bahns<br>
        github.com/xxxxxxxxx<br>
        xxxxxxxxx@gmail.com<br>
        (xxx)-xxx-xxxx<br>

    </p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>