<% include partials/header.ejs %>
<!--<div id="googleMap" style="width:500px;height:380px;"></div>-->

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3><a href="/game/all">Display All Games</a></h3>
        </div>
        <div class="col-sm-4">
            <h3><a href="/court/all">Display All Courts</a></h3>
        </div>
        <div class="col-sm-4">
            <h3><a href="/game/all">Display All Games</a></h3>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>

