<% js_includes = []%>
<% include ../partials/header %>
<% include ../partials/nav %>

<h1>Add a New Movie</h1>
<form method="POST" action="/movie/save/">
    Title <input type="text" id="title" name="title" /><br>
    Tag Line <textarea name="tagline"></textarea><br>

    Genre(s)<br>
    <% for( var i = 0; i < genres.length; i++) { %>
    <input type="checkbox" name="genre_id" id="genre_id" value="<%= genres[i].genre_id %>"><%= genres[i].genre_name %><br>
    <% } %>

    <button id="addBtn">Add</button>
</form>

<% include ../partials/footer %>
