<% var js_includes = [
    'https://code.juery.com/jquery-1.12.3.min.js',
    '/javascripts/friends_ajax.js'
]%>
<% include ../partials/header.ejs %>

<div class="container">
    <div id="message" style="display:none" class="alert alert-success">
        <strong>Success!</strong> Indicates a successful or positive action.
    </div>
    <div id="error" style="display:none" class="alert alert-warning">
        <strong>Success!</strong> Indicates a successful or positive action.
    </div>
    <div class="col-sm-8">
        <h2>Friends List</h2>
        <% if(rs.length > 0) { %>
        <table class="table table-bordered">
            <thead>
            <tr>
            </tr>
            </thead>
            <% for (var i=0; rs.length > i; i++) { %>
            <tbody>
            <tr>
                <td><a href="/player?PlayerID=<%= rs[i].FriendID %>"><%= rs[i].Username %></a></td>
                <td><button type="submit" class="btn btn-primary" onClick="removeFriend(<%= rs[i].FriendID %>)">Delete</button>
                </td>
            </tr>
            </tbody>
            <% } %>
        </table>

        <% } else { %>
        No friends added yet
        <% } %>
    </div>

</div>

<% include ../partials/footer.ejs %>